<div class="border shadow-lg w-full border-gray-200 rounded">
  <div
    class="p-2 font-bold flex flex-row text-gray-600 border-b justify-between items-baseline bg-gray-100"
  >
    <span class="font-bold">Produtos em falta</span>
    <div class="flex flex-row items-center">
      <button
        type="button"
        (click)="fetchList()"
        class="btn-red py-1 text-md"
        (click)="deleteAllBought()"
      >
        Remover Concluídos
      </button>
      <button
        type="button"
        (click)="fetchList()"
        class="mx-1 text-gray-400 btn text-xl"
      >
        ↻
      </button>
      <button
        type="button"
        class="btn-green px-4 font-bold text-xl"
        (click)="openMissingProductModal()"
      >
        +
      </button>
    </div>
  </div>
  <div class="relative overflow-x-auto">
    <div>
      <table class="w-full text-sm text-left rtl:text-right dark:text-gray-400">
        <thead
          class="text-sm bg-gray-50 dark:bg-gray-700 border-b shadow-sm dark:text-gray-400"
        >
          <!-- Table header -->
          <tr>
            <th class="font-thin p-2">Data</th>
            <th class="font-thin p-2">Ítem</th>
            <th class="font-thin p-2">Previsão</th>
            <th class="font-thin p-2">Cliente</th>
            <th class="font-thin text-center p-2">Ações</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr *ngIf="loading" class="text-center text-gray-500 text-lg">
            Carregando...
          </tr>
          <tr
            class="items-center border-gray-200 hover:bg-gray-100 cursor-pointer"
            *ngFor="let item of products"
            [ngClass]="{ 'text-gray-400 ': item.is_bought }"
          >
            <th class="font-thin p-1.5">
              {{ item.created_at | date : "dd/MM/yyyy" }}
            </th>
            <th class="font-thin p-1.5">{{ item.name }}</th>
            <th
              class="font-thin p-1.5"
              [ngClass]="{
                'text-red-600':
                  getLateDate(item.needed_day) && !item.is_bought
              }"
            >
              {{ item.needed_day | date : "dd/MM/yyyy" }}
              @if(getLateDate(item.needed_day) && !item.is_bought) { - Atrasado! }
            </th>
            <th class="font-thin p-1.5">
              {{ item.customer_name }} - {{ item.customer_phone }}
            </th>

            <th
              class="font-thin text-center border-l w-1/6 border-gray-300 border-double py-2"
            >
              <div *ngIf="!item.is_bought">
                <button
                  type="button"
                  title="Remover"
                  class="btn-primary mr-1 py-0.5 px-3"
                  (click)="setBoughtState(item.id!)"
                >
                  ✓
                </button>
                <button
                  type="button"
                  title="Remover"
                  class="btn-red py-0.5 px-3 mr-1"
                  (click)="deleteMissingProduct(item.id!)"
                >
                  𝘅
                </button>
              </div>
              <div *ngIf="item.is_bought">
                <p class="text-gray-500">Ítem comprado</p>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
