<div class="w-full border shadow border-gray-200 rounded">
  <div class="px-2 py-1 font-bold flex flex-row text-gray-600 border-b justify-between items-center bg-gray-100">
    <span class="font-bold">Débitos de clientes</span>
    <div>
      <button type="button" (click)="fetchList()" class="mx-1 text-gray-400 btn text-xl">
        ↻
      </button>
      <button type="button" (click)="openDebtPostModal()" class="btn-green px-4 font-bold text-xl">
        +
      </button>
    </div>
  </div>
  <div class="relative overflow-x-auto">
    <div style="max-height: 50dvh">
      <table class="table-fixed w-full text-sm text-left rtl:text-right">
        <thead class="text-sm bg-gray-50  ">
          <!-- Table header -->
          <tr>
            <th class="font-normal p-2">Data</th>
            <th class="font-normal p-2">Cliente</th>
            <th class="font-normal p-2">Previsão</th>
            <th class="font-normal p-2">Valor</th>
            <th class="font-normal p-2">Pago</th>
            <th class="font-normal w-1/5 text-center p-2">Ações</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr *ngIf="loading" class="text-center text-gray-500 text-lg italic">
            Carregando...
          </tr>
          <tr class="items-center hover:bg-gray-200 cursor-pointer" *ngFor="let item of debts">
            <td class="font-normal truncate border-r p-1.5">
              {{ item.created_at | date : "dd/MM/yyyy" }}
            </td>
            <td class="font-normal truncate p-1.5">{{ item.customer!.name}}</td>
            <td class="font-normal truncate border-r p-1.5">
              {{ item.forecast | date : "dd/MM/yyyy" }}
            </td>
            <td class="font-normal truncate text-emerald-700 p-1.5">
              R${{ item.value.toFixed(2) }}
            </td>
            <td class="font-normal truncate p-1.5">
              {{ item.paid_date | date : "dd/MM/yyyy" }}
            </td>
            <td class="font-normal text-center border-l">
              <button title="Atualizar" (click)="openDebtUpdate(item.id!)" class="btn-primary text-lg mr-1">✎</button>
              <button type="button" (click)="deleteDebt(item.id!)" title="Remover" class="btn-red text-lg mr-1">
                𝘅
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>