<form class="flex flex-row p-1 justify-between items-center flex-wrap">
    <div class="mr-1">
        <label class="text-sm" for="description">Descrição</label>
        <input type="text" class="border border-gray-400" name="description" id="description">
    </div>
    <div class="mr-1">
        <label class="text-sm" for="paymenttype">Tipo</label>
        <select name="paymenttype" id="paymenttype">
            <option value="">Dinheiro</option>
            <option value="">Débito</option>
            <option value="">Crédito</option>
            <option value="">Pix</option>
            <option value="">Depósito</option>
        </select>

    </div>
    <div class="mr-1">
        <label class="text-sm" for="value">Valor</label>
        <input type="text" class="border border-gray-400 w-2/4" name="value" id="value">
    </div>
    <button class="btn-green font-bold text-xl">+</button>
</form>