<EditForm Model="Register" OnValidSubmit="Submit"
    class="flex flex-row p-1 justify-between items-center flex-wrap bg-gray-100">
    <DataAnnotationsValidator/>
    <div class="flex flex-col">
        <div class="mr-1 mb-2">
            <label class="text-sm" for="description">Descrição</label>
            <InputText @bind-Value=Register.Description class="border border-gray-400" />
        </div>
        <div class="mr-1 mb-2 flex flex-row justify-between">
            <label class="text-sm" for="paymenttype">Tipo</label>
            <InputSelect class="bg-white border border-gray-400" @bind-Value=Register.PaymentType>
                @foreach (var paymentType in PaymentTypes)
                {
                    <option value=@paymentType.Value>@paymentType.Key</option>
                }
            </InputSelect>

        </div>
    </div>

    <div class="flex flex-col">
        <div class="mb-2">
            <label class="text-sm" for="value">Valor</label>
            <InputNumber type="text" @bind-Value=Register.Value class="border border-gray-400 w-2/4" />

        </div>
        <div class="mb-2">
            <label class="text-sm" for="date">Data</label>
            <InputDate class="w-2/4 border border-gray-400" @bind-Value=Register.CreatedAt />
        </div>
    </div>
    <button class="btn-green font-bold text-xl">+</button>
</EditForm>