@rendermode InteractiveServer

@using CsStorage.Web.Utils

<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
    <th scope="col" class="py-1 font-thin">@Register.CreatedAt</th>
    <th scope="col" class="py-1 font-thin">@Register.Description</th>
    <th scope="col" class="py-1 font-thin">@PaymentTypeDictionary.ResolvePaymentType(Register.PaymentType)</th>
    <th scope="col" class="py-1 font-thin">@Register.Value</th>
    <th scope="col" class="py-1 font-thin">
        <button class="btn-primary font-thin py-0.5 px-3 rounded">Editar</button>
        <button type="button" @onclick="Remove" class="btn-red py-0.5 font-thin px-3 rounded">Remover</button>
    </th>
    
</tr>
