<app-modal title="Novo registro" [isOpen]="show" (closed)="close()">
  <form (ngSubmit)="submit()" [formGroup]="cashForm" #formDir="ngForm" class="max-w-xl mx-auto flex-col space-y-1">
    <div class="flex items-baseline">
      <label class="w-16 text-sm text-right mr-2" for="productId">Produto:</label>
      <div class="flex flex-col">
        <input type="hidden" class="border w-full border-gray-400" formControlName="productId" required />
        <input type="text" readonly class="border border-slate-400 rounded px-1" [value]="product?.name">
      </div>

      <app-button (click)="openProductModal()"><fa-icon [icon]="faUp" /></app-button>
    </div>
    <small class="text-red-500" *ngIf="productId.invalid && formDir.submitted">Descrição é obrigatória!</small>

    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="payment_type">Tipo</label>
      <select class="bg-white border my-1 border-gray-400" formControlName="payment_type">
        <option [ngValue]="0">Dinheiro</option>
        <option [ngValue]="1">Débito</option>
        <option [ngValue]="2">Crédito</option>
        <option [ngValue]="3">Pix</option>
        <option [ngValue]="4">Depósito</option>
      </select>
    </div>
    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="value">Valor</label>
      <div class="flex flex-col">
        <input type="number" formControlName="value" class="border border-gray-400 my-1" required />
        <small class="text-red-500" *ngIf="value.invalid && formDir.submitted">Valor deve ser maior que 0!</small>
      </div>
    </div>
    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="date">Data</label>
      <div class="flex flex-col">
        <small class="text-red-500" *ngIf="created_at.invalid && formDir.submitted">Data não pode ser maior que a data
          atual!</small>
        <input type="date" formControlName="created_at" class="h-6 border my-1 border-gray-400" required />
      </div>
    </div>
    <button type="submit" class="btn-green form-btn">
      Novo registro!
    </button>
  </form>
</app-modal>