<app-modal title="Registro" (closed)="close()">
  <form (ngSubmit)="submit()" [formGroup]="cashForm" #formDir="ngForm" class="max-w-xl mx-auto flex-col space-y-1">
    <div class="flex items-baseline">
      <label class="w-16 text-sm text-right mr-2" for="product_id">Produto:</label>
      <div class="flex flex-col">
        <input type="hidden" [readOnly]="readOnly" class="border w-full border-gray-400" formControlName="product_id"
          required />
        <input type="text" [readOnly]="readOnly" readonly class="border border-slate-400 rounded px-1"
          [value]="productData">
      </div>

      <app-button [disabled]="readOnly" (click)="openProductModal()"><fa-icon [icon]="faUp" /></app-button>
    </div>
    <small class="text-red-500" *ngIf="product_id.invalid && formDir.submitted">Produto é obrigatório!</small>

    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="value">Qte.</label>
      <div class="flex flex-col">
        <input [readOnly]="readOnly" type="number" formControlName="quantity" min="1"
          class="border w-24 border-gray-400 my-1" required />
        <small class="text-red-500" *ngIf="quantity.invalid && formDir.submitted">Quantidade é obrigatória!</small>
      </div>
    </div>


    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="payment_type">Tipo</label>
      <select class="bg-white border my-1 border-gray-400" formControlName="payment_type">
        <option [ngValue]="0">Dinheiro</option>
        <option [ngValue]="1">Débito</option>
        <option [ngValue]="2">Crédito</option>
        <option [ngValue]="3">Pix</option>
        <option [ngValue]="4">Depósito</option>
      </select>
    </div>
    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="value">Valor</label>
      <div class="flex flex-col">
        <input [readOnly]="true" type="number" readonly [disabled]="true" formControlName="value"
          class="border border-gray-400 my-1" required />
      </div>
    </div>
    <div class="flex items-baseline">
      <label class="text-sm w-16 text-right mr-2" for="date">Data</label>
      <div class="flex flex-col">
        <small class="text-red-500" *ngIf="created_at.invalid && formDir.submitted">Data não pode ser maior que a data
          atual!</small>
        <input [readOnly]="readOnly" type="date" formControlName="created_at" class="h-6 border my-1 border-gray-400"
          required />
      </div>
    </div>
    <div class="text-center">
      @if (mode === 'read') {
      <app-button type="submit" variant="primary">
        Atualizar
      </app-button>
      }
      @else if (mode === 'create') {
      <app-button type="submit" variant="green">
        Novo registro
      </app-button>
      }
      @else {
      <app-button type="submit" variant="green">
        Confirmar
      </app-button>
      }
    </div>

  </form>
</app-modal>