<div class="w-full border border-gray-300 rounded">
  <div class="p-2 font-bold text-center text-gray-700 bg-gray-100">Débitos</div>
  <div class="relative overflow-x-auto">
    <div style="height: 60.8dvh">
      <table class="w-full text-sm text-left rtl:text-right dark:text-gray-400">
        <thead class="text-sm bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <!-- Table header -->
          <tr>
            <th class="font-thin p-2">Data</th>
            <th class="font-thin p-2">Cliente</th>
            <th class="font-thin p-2">Valor</th>
            <th class="font-thin p-2">Previsão</th>
            <th class="font-thin p-2">Pago?</th>
            <th class="font-thin p-2">Ações</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr class="border-b items-center" *ngFor="let item of debts">
            <th class="font-thin p-1.5">
              {{ item.createdAt | date : "dd/MM/yyyy" }}
            </th>
            <th class="font-thin p-1.5">{{ item.customer.name }}</th>
            <th class="font-thin p-1.5">{{ item.value }}</th>
            <th class="font-thin p-1.5">{{ item.forecast | date : "dd/MM/yyyy" }}</th>
            <th class="font-thin p-1.5">{{ item.paidDate | date : "dd/MM/yyyy" }}</th>
            <th class="font-thin">
              <button class="btn-primary text-sm mr-1">Editar</button>
              <button class="btn-red text-sm mr-1">Remover</button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Table form -->
  <!-- <CashField /> -->

  <!-- <form
    (ngSubmit)="submit()" [formGroup]="cashForm" #formDir="ngForm"
    class="flex flex-row p-1 justify-between flex-wrap sticky top-0 bg-gray-100"
  >
    <div class="flex flex-col">
      <small class="text-red-500" *ngIf="description.invalid && description.touched && formDir.submitted">Descrição é obrigatória!</small>
      <div class="mr-1 mb-2 flex flex-row justify-end items-center">
        <label class="text-sm mr-1" for="description">Descrição</label>
        <input
        type="text"
        class="border border-gray-400"
        formControlName="description"
        required
        />
      </div>
      <div class="mr-1 mb-2 flex flex-row justify-end">
        <label class="text-sm mr-1" for="paymenttype">Tipo</label>
        <select
          class="bg-white border border-gray-400"
          formControlName="paymentType"

        >
          <option [ngValue]=0>Dinheiro</option>
          <option [ngValue]=1>Débito</option>
          <option [ngValue]=2>Crédito</option>
          <option [ngValue]=3>Pix</option>
          <option [ngValue]=4>Depósito</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col justify-center items-end">
      <small class="text-red-500" *ngIf="value.invalid && value.touched && formDir.submitted">Valor deve ser maior que 0!</small>
      <div class="mb-2 flex flex-row justify-end items-center">
        <label class="text-sm mr-1" for="value">Valor</label>
        <input
          type="number"
          formControlName="value"
          class="border border-gray-400 w-2/4"
          required
        />
      </div>
      <small class="text-red-500" *ngIf="createdAt.invalid && value.touched && formDir.submitted">Data não pode ser maior que a data atual!</small>
      <div class="mb-2 flex flex-row justify-end items-center">
        <label class="text-sm mr-1" for="date">Data</label>
        <input
          type="date"
          formControlName="createdAt"
          class="h-6 border w-2/3 border-gray-400"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn-green px-4 font-bold text-xl">+</button>
  </form> -->
</div>
