<header class="flex flex-row items-center p-2 bg-gray-50 shadow-sm border-b">
  <div>
    <img src="logo.png" alt="Logo" class="w-9 ml-3 rounded">
  </div>
  <ul class="ml-5">
    <li>
      <a routerLink="" class="ml-4 text-gray-700 hover:text-blue-600">Painel</a>
      <a routerLink="" class="ml-4 text-gray-700 hover:text-blue-600">Ordens de Serviços</a>
      <a routerLink="" class="ml-4 text-gray-700 1hover:text-blue-600">Produtos em falta</a>
      <a routerLink="" class="ml-4 text-gray-700 hover:text-blue-600">Clientes</a>
    </li>
  </ul>
</header>
