<div class="border shadow w-full border-gray-200 rounded">
    <div class="p-2 font-bold flex flex-row text-gray-600 border-b rounded justify-between items-baseline bg-white">
        <span class="font-bold">Produtos</span>
        <div class="flex flex-row items-center">
            <button type="button" (click)="fetchList()" class="mx-1 text-gray-400 btn text-xl">
                ↻
            </button>
            <button type="button" class="btn-green px-4 font-bold text-xl" (click)="openProductModal()">
                +
            </button>
        </div>
    </div>
    <div class="relative overflow-x-auto">
        <div>
            <table class="table-fixed w-full text-sm text-left rtl:text-right ">
                <thead class="text-sm bg-gray-50  border-b shadow-sm ">
                    <!-- Table header -->
                    <tr>
                        <th class="font-normal border-r w-20 p-2">Código</th>
                        <th class="font-normal border-r p-2">Nome</th>
                        <th class="font-normal border-r w-24 p-2">Quantidade</th>
                        <th class="font-normal border-r p-2">Categoria</th>
                        <th class="font-normal border-r w-32 p-2">Preço</th>
                        <th class="font-normal border-r w-24 text-center p-2">Ações</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                    <tr *ngIf="loading" class="text-center text-gray-500 text-lg">
                        Carregando...
                    </tr>
                    <tr class="items-center bg-white even:bg-slate-100 hover:bg-blue-200 cursor-pointer"
                        *ngFor="let item of products">
                        <td class="border-r text-center font-bold w-20 p-1.5">
                            {{ item.id }}
                        </td>
                        <td class="font-normal border-r truncate p-1.5">{{ item.name }}</td>
                        <td class="font-normal border-r w-24 text-center truncate p-1.5">
                            {{ item.quantity }}
                        </td>
                        <td class="font-normal border-r truncate p-1.5">
                            {{ item.category.name }}
                        </td>
                        <td class="w-32 text-emerald-600 font-bold border-r truncate p-1.5">
                            R${{ item.price.toFixed(2) }}
                        </td>

                        <td class="font-normal w-24 truncate text-center">
                            <button (click)="openProductUpdateModal(item.id!)" title="Atualizar"
                                class="btn-primary text-lg mr-1">
                                ✎
                            </button>
                            <button type="button" title="Remover" (click)="deleteProductModal(item.id!)"
                                class="btn-red text-lg mr-1">
                                𝘅
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>