<app-modal title="Categoria" [isOpen]="show" (closed)="close()">
    <!-- <p>modo: {{ mode }} | readOnly: {{ readOnly }} | categoryId: {{ categoryId }}</p> -->
    <form (ngSubmit)="submit()" [formGroup]="categoryForm" #formDir="ngForm"
        class="max-w-xl mx-auto flex-col space-y-1">
        <div class="flex items-baseline">
            <label class="w-16 text-sm text-right mr-2" for="name">Nome</label>
            <div class="flex flex-col">
                <input [readonly]="readOnly" type="text" class="border w-full border-gray-400" formControlName="name"
                    required />
                <small class="text-red-500" *ngIf="categoryForm.get('name')!.invalid && formDir.submitted">Nome é
                    obrigatório!</small>
            </div>
        </div>
        <div class="flex items-baseline">
            <label class="w-16 text-sm text-right mr-2" for="description">Descrição</label>
            <div class="flex flex-col">
                <input [readonly]="readOnly" type="text" class="border w-full border-gray-400"
                    formControlName="description" required />
            </div>
        </div>
        <div class="flex items-baseline">
            <label class="w-16 text-sm text-right mr-2" for="color">Cor</label>
            <div class="flex flex-col w-12 rounded">
                <input [disabled]="readOnly" type="color" class="border border-gray-400 rounded" value="#777"
                    formControlName="color" />
            </div>
        </div>
        <button type="submit" class="btn-green mt-5 form-btn">
            @switch (mode) {
            @case ('read'){
            Atualizar!
            }
            @case ('update') {
            Confirmar atualização!
            }
            @case ('create'){
            Nova categoria!
            }
            }
        </button>
    </form>
</app-modal>