<div class="w-full border border-gray-300 rounded">
  <div class="p-2 font-bold text-center text-gray-700 bg-gray-100">Caixa</div>
  <div class="relative overflow-x-auto">
    <div style="height: 50dvh">
      <table class="w-full text-sm text-left rtl:text-right dark:text-gray-400">
        <thead class="text-sm bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <!-- Table header -->
          <tr>
            <th class="font-thin p-2">Data</th>
            <th class="font-thin p-2">Descrição</th>
            <th class="font-thin p-2">Tipo</th>
            <th class="font-thin p-2">Valor</th>
            <th class="font-thin p-2">Ações</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr class="border-b items-center" *ngFor="let item of registers">
            <th class="font-thin p-1.5">
              {{ item.createdAt | date : "dd/MM/yyyy - HH:mm" }}
            </th>
            <th class="font-thin p-1.5">{{ item.description }}</th>
            <th class="font-thin p-1.5">{{ item.paymentType }}</th>
            <th class="font-thin p-1.5">{{ item.value }}</th>
            <th class="font-thin">
              <button class="btn-primary text-sm mr-1">Editar</button>
              <button class="btn-red text-sm mr-1">Remover</button>
            </th>
          </tr>
        </tbody>
      </table>

      <!-- Table form -->
    </div>
  </div>
  <form
    class="flex flex-row p-1 justify-between flex-wrap sticky top-0 bg-gray-100"
  >
    <div class="flex flex-col items-end">
      <div class="mr-1 mb-2">
        <label class="text-sm mr-1" for="description">Descrição</label>
        <input
          type="text"
          class="border border-gray-400"
          name="description"
          id="description"
        />
      </div>
      <div class="mr-1 mb-2 flex flex-row justify-between">
        <label class="text-sm" for="paymenttype">Tipo</label>
        <select class="bg-white border border-gray-400" name="paymenttype" id="paymenttype">
          <option value="">Dinheiro</option>
          <option value="">Débito</option>
          <option value="">Crédito</option>
          <option value="">Pix</option>
          <option value="">Depósito</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col justify-center items-end">
        <div class="mb-2 flex flex-row justify-end items-center">
          <label class="text-sm mr-1" for="value">Valor</label>
          <input type="number" class="border border-gray-400 w-2/4" />
        </div>
        <div class="mb-2">
          <label class="text-sm mr-1" for="date">Data</label>
          <input type="date" class="h-6 border border-gray-400" />
        </div>
      </div>
    <button class="btn-green px-4 font-bold text-xl">+</button>
  </form>
  <!-- <CashField /> -->
</div>
