<div class="pt-2 px-5">
  <h1 class="text-xl mb-1 font-bold text-gray-500">
    Dados do usuário e configurações
  </h1>
  <hr />

  <div class="text-gray-700 border shadow-sm my-3 rounded p-3 text-sm">
    <div>
      <h3 class="mb-3 font-bold">Usuário</h3>
      <p class="my-1">
        Nome de usuário: <span class="font-bold">{{ user.name }}</span>
      </p>
      <p class="my-1">
        Email: <span class="font-bold">{{ user.email }}</span>
      </p>
      <p class="my-1">
        Criado em:
        <span class="font-bold">{{
          user.created_at | date : "dd/MM/yyyy"
        }}</span>
      </p>
      <hr />
    </div>

    <div>
      <h3 class="my-3 font-bold">Configurações</h3>
      <div class="my-2">
        <label for="">Intervalo de relatórios via e-mail</label>
        <select
          class="text-input border bg-white ml-2"
          name="report_interval"
          id="report_interval"
        >
          <option value="">Diário</option>
          <option value="">Semanal</option>
          <option value="">Mensal</option>
        </select>
      </div>
      <div class="my-2">
        <label for="">Email de logs e mensagens</label>
        <input class="ml-2 border py-1" type="email" name="email" id="email">
      </div>
      <hr />
    </div>

    <div>
      <h3 class="my-3 font-bold">Banco de dados</h3>
      <button class="btn-primary py-2 px-5 mb-3">Exportar banco de dados</button>
      <hr>
    </div>

    <div class="w-full flex flex-row pt-3">
      <button class="btn-red py-2 px-5 mr-2">Cancelar </button>
      <button class="btn-primary py-2 px-7">Salvar </button>
    </div>
  </div>
</div>
