<header
  class="flex rounded-br-lg lg:rounded-br-none rounded-bl-lg sticky w-full py-1 shadow-md top-0 shadow-blue-400 flex-row items-center bg-blue-500 text-white px-2">
  <div class="flex w-full flex-col lg:flex-row justify-between items-center">


    <div class="flex text-end w-full flex-row justify-center text-green items-center">
      <div class="p-2 font-bold rounded text-white">
        <span><span class="text-sm mr-2">Caixa</span>
          <span class="rounded border shadow border-white p-1 mr-1"><span class="text-sm">Dia:</span> R${{
            cashRegisterValues.day.toFixed(2)
            }}</span>
          <span class="rounded border shadow border-white p-1 ml-1"><span class="text-sm">Mês:</span> R${{
            cashRegisterValues.month.toFixed(2)
            }}</span></span>
      </div>
      <!-- <span class="text-red-500">
        <span class="text-sm mr-2">Débitos</span>
        <span class="rounded-sm border border-red-500 p-1 mr-1"
          ><span class="text-sm">Dia:</span> R${{
            debtValues.day.toFixed(2)
          }}</span
        >
        <span class="rounded-sm border border-red-500 p-1 mr-1"
          ><span class="text-sm">Mês:</span> R${{
            debtValues.month.toFixed(2)
          }}</span
        ></span
      > -->

    </div>
  </div>
</header>