<header class="flex rounded-lg sticky w-full border-b top-0 shadow flex-row items-center bg-white px-2">
  <div class="flex w-full flex-col lg:flex-row justify-between items-center">


    <div class="flex text-end w-full flex-row justify-center items-center py-3 text-gray-600">
      <div class="mr-2 text-emerald-600">
        <span><span class="text-sm mr-2">Caixa</span>
          <span class="rounded-sm border shadow border-emerald-600 p-1 mr-1"><span class="text-sm">Dia:</span> R${{
            cashRegisterValues.day.toFixed(2)
            }}</span>
          <span class="rounded-sm border shadow border-emerald-600 p-1 ml-1"><span class="text-sm">Mês:</span> R${{
            cashRegisterValues.month.toFixed(2)
            }}</span></span>
      </div>
      <!-- <span class="text-red-500">
        <span class="text-sm mr-2">Débitos</span>
        <span class="rounded-sm border border-red-500 p-1 mr-1"
          ><span class="text-sm">Dia:</span> R${{
            debtValues.day.toFixed(2)
          }}</span
        >
        <span class="rounded-sm border border-red-500 p-1 mr-1"
          ><span class="text-sm">Mês:</span> R${{
            debtValues.month.toFixed(2)
          }}</span
        ></span
      > -->

    </div>
  </div>
</header>