<header
  class="flex sticky top-0 z-50 flex-row items-center px-2 bg-gray-50 shadow border-b"
>
  <div class="flex w-full flex-col lg:flex-row justify-between items-center">
    <div class="flex flex-row items-center">
      <img src="logo.ico" alt="Logo" class="w-9 ml-3 rounded" />
      <ul class="ml-2">
        <li class="text-sm">
          <a routerLink="" class="ml-3 text-gray-700 hover:text-blue-500"
            >Painel</a
          >
          <!-- <a routerLink="" class="ml-3 text-gray-700 hover:text-blue-600"
            >Ordens de Serviços</a
          > -->
          <a
            routerLink="produtosEmFalta"
            class="ml-3 text-gray-700 hover:text-blue-600"
            >Produtos em falta</a
          >
          <a
            routerLink="ordensDeServico"
            class="ml-3 text-gray-700 hover:text-blue-600"
            >Ordens de Serviço</a
          >
          <!-- <a routerLink="" class="ml-3 text-gray-700 hover:text-blue-600"
            >Clientes</a
          > -->
        </li>
      </ul>
    </div>

    <div class="flex flex-row justify-evenly items-center text-gray-600">
      <span class="py-6 h-max mx-3 border-r border-gray-300"></span>
      <div class="mr-2 text-emerald-600">
        <span
          ><span class="text-sm mr-2">Caixa</span>
          <span class="rounded-sm border border-emerald-600 p-1 mr-1"
            ><span class="text-sm">Dia:</span> R${{
              cashRegisterValues.day.toFixed(2)
            }}</span
          >
          <span class="rounded-sm border border-emerald-600 p-1 ml-1"
            ><span class="text-sm">Mês:</span> R${{
              cashRegisterValues.month.toFixed(2)
            }}</span
          ></span
        >
      </div>
      <span class="text-red-500">
        <span class="text-sm mr-2">Débitos</span>
        <span class="rounded-sm border border-red-500 p-1 mr-1"
          ><span class="text-sm">Dia:</span> R${{
            debtValues.day.toFixed(2)
          }}</span
        >
        <span class="rounded-sm border border-red-500 p-1 mr-1"
          ><span class="text-sm">Mês:</span> R${{
            debtValues.month.toFixed(2)
          }}</span
        ></span
      >
    </div>
  </div>
</header>
