@page "/"
@using CsStorage.Application.DTOs
@using CsStorage.Application.Interfaces

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h1>@debtDTO</h1>
but

Welcome to your new app.

@code {
    [Inject]
    protected IDebtService debtService { get; set; }
    protected DebtDTO debtDTO;
    public DebtDTO dTO = new DebtDTO
    {
        Value = 30,
        CustomerId = 3,
        PaidDate = DateTime.Now,
        Forecast = DateTime.Now.AddDays(3)
    };

    protected async override Task OnInitializedAsync(){
        Console.WriteLine("It's working! Ahhhhhhhhhhhhhhh!");
        Console.WriteLine(await debtService.Create(dTO));
        debtDTO = await debtService.GetById(1);
    }
}
