<div
    class="absolute top-0 left-0 w-screen z-50 h-screen bg-gray-200 bg-opacity-75 flex flex-col justify-center items-center">
    <div class="-mt-20  border-slate-300 rounded-sm shadow-lg shadow-slate-400 bg-gray-50">
        <div class=" text-slate-600 flex flex-row rounded-t rounded-tr border-b justify-between">
            <h2 class="ml-3 py-1">{{ title }}</h2>
            <button class="px-2 text-slate-500 rounded-tr ml-2" (click)="close()"><fa-icon [icon]="faX" /></button>
        </div>
        <div class="bg-white rounded-lg p-5">
            <ng-content />
        </div>
    </div>
</div>