<div class="w-full border shadow border-gray-200 rounded">
    <div
        class="px-2 py-1 font-bold flex flex-row text-gray-600 rounded-tl rounded-tr border-b justify-between items-center bg-white">
        <span class="font-bold">Categorias</span>
        <div>
            <button type="button" (click)="fetchList()" class="mx-1 text-gray-400 btn text-xl">
                ↻
            </button>
            <button type="button" (click)="openModal('create')" class="btn-green px-4 font-bold text-xl">
                +
            </button>
        </div>
    </div>
    <div class="relative overflow-x-auto">
        <div style="max-height: 50dvh">
            <table class="table-fixed w-full text-sm text-left rtl:text-right">
                <thead class="text-sm bg-gray-50  ">
                    <!-- Table header -->
                    <tr class="border-b">
                        <th class="font-normal w-48 text-ellipsis text-neutral-600 p-2">Nome</th>
                        <th class="font-normal text-neutral-600 p-2">Descrição</th>
                        <th class="font-normal w-10 text-neutral-600 p-2">Cor</th>
                        <th class="font-normal text-neutral-600 w-1/5 text-center p-2">Ações</th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                    <tr *ngIf="loading" class="text-center text-gray-500 text-lg italic">
                        Carregando...
                    </tr>
                    <tr class="items-center bg-white hover:bg-blue-200 cursor-pointer" *ngFor="let item of categories">
                        <td class="font-normal border-r w-48 truncate p-1.5">{{ item.name }}</td>
                        <td class="font-normal border-r truncate p-1.5"> {{ item.description }} </td>
                        <td class="font-normal truncate p-1.5">
                            <div class="p-3 rounded-full" [style.background-color]="item.color"></div>
                        </td>
                        <td class="font-normal text-center border-l">
                            <button title="Atualizar" (click)="openModal('update', item.id!)"
                                class="btn-primary text-lg mr-1">✎</button>
                            <button type="button" (click)="deleteCategory(item.id!)" title="Remover"
                                class="btn-red text-lg mr-1">
                                𝘅
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>