@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <header class="flex flex-row items-center bg-gray-50 py-1 px-7 shadow-sm border-b">
            <div class="flex flex-row items-center mr-10">
                <img src="@Assets["logo.png"]" class="w-9 rounded">
            </div>
            <NavLink class="mr-5 hover:text-blue-700" href="/">Painel</NavLink>
            <NavLink class="mr-5 hover:text-blue-700" href="/caixa">Caixa</NavLink>
            <NavLink class="mr-5 hover:text-blue-700" href="/debitos">Débitos</NavLink>
            <NavLink class="mr-5 hover:text-blue-700" href="/produtosemfalta">Produtos em Falta</NavLink>
            <NavLink class="mr-5 hover:text-blue-700" href="/ordens">Ordens de Serviço</NavLink>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {

}
